<div id="basket_total" class="flex justify-between font-bold mb-2 py-2 px-4">
  <p class="ml-auto text-right text-gray-700 text-xl">Total: <%= number_to_currency(basket_total, unit: "£") %></p>
</div>