<div class="bg-white p-8 rounded-lg shadow-lg sm:w-2/3" data-controller="product">
  <h2 class="text-2xl font-bold mb-4">Christmas Bacon Pre-order</h2>
  <p>Added to basket.</p>
  <p>Add more bacon or <a href="checkout.html" class="text-blue-500 underline">continue to checkout</a></p>
</div>