<div class="sm:flex sm:w-3/5 mx-auto p-5 sm:p-0 sm:mt-16 mb-12">

  <div class="bg-white p-8 rounded-lg shadow-lg sm:w-2/3" data-controller="product">
    <ul>
      <% @products.each do |product| %>
        <li>
          <%= link_to product.name, product_path(product) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>